*{box-sizing: border-box;}

html,
body {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-color: #181F4E;
  font-size: 12px;

}

h2{
  font-size: 25px;
}
.actionATag {

    border: none;
    background-color: #181F4E;
}



.actionImg{
    position: relative;
  max-height: 100px;
  max-width: 80vw;
    padding-right: 20px;
}
.navbar{
  background-color: #181F4E;

}
.navbar-collapse {
    background-color: #2e3133;
    border-radius: 10px;
}
.modal-title
{
    text-align: left;
}


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

main{
  padding-top: 80px;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

input{
  text-align:right;
  border-radius: 5px;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}

/*body {*/
  /*padding-top: 5rem;*/
/*}*/
select{
  position: center;
}

section{
  background-color: #181F4E;
  padding-right: 10px;
}
div#load_screen{

  background: #000000;
  opacity: 1;
  position: fixed;
  z-index: 10;
  top: 0px;
  height: 1600px;
  width: 100%;

}
div#load_screen >div#loading{
  color: #FFF;
  width: 120px;
  height: 24px;
  margin: 200px auto;

}
.text{
    background: url("../images/text_mimun_medina.png");
    background-size: 100px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.dropbtn2{
    background: url('../images/button_chosearea_mimun_medina.png')no-repeat;
    background-size: 200px;
    background-color: #181F4E;
    color: #108A7C;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn {

  background: url('../images/unnamed.png')no-repeat;
  background-size: 200px;
  background-color: #181F4E;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.btn-ghost{
  border-radius: 20px;
}
.container{
    position: relative;
    width:100%;
}
.btn-ghost:hover{
  background-color: cyan;
  /*opacity: 0.5;*/
  border-radius: 20px;
    width:300px;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;

}
.navbar-toggler{
    color: #108A7C;
}
.navbar-toggler:hover{
  background-color: cyan;

}
.dropdown-menu{
  background-color: #2e3133 ;
}
.dropdown-item{
  color:white;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #f1f1f1;
  opacity: 0.5;

}

.show {display:block;}
/*.placeholder button {*/
  /*padding-left: 3rem;*/
/*}*/
/*.placeholder2 button {*/
  /*padding-right: 3rem;*/
/*}*/
/*.placeholder3 button {*/
  /*padding-top: 3rem;*/
/*}*/
/*.placeholder4 button {*/
  /*padding-bottom: 3rem;*/
/*}*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #343A40;
}
.mytext
{

  text-align: center;
}

#rehev{
  background: url("../images/rehev.png")no-repeat;
  background-size: 70px;
  width: 100px;
  height: 100px;
  border: none;
}
#binyan{
  background: url("../images/binyan2.png")no-repeat;
  background-size: 70px;
  position: center;
  width: 100px;
  height: 100px;
  border: none;
}
#elect{
  background: url("../images/elec.png")no-repeat;
  background-size: 70px;
  width: 100px;
  height: 100px;
  border: none;
}
#elect2{
  background: url("../images/elec.png")no-repeat;
  background-size: 70px;
  width: 100px;
  height: 100px;
  border: none;
}
#elect3{
  background: url("../img/course_btn.png")no-repeat;
  background-size: 70px;
  width: 100px;
  height: 100px;
  border: none;
}
#prog{
  background: url("../images/cyber.png")no-repeat;
  background-size: 70px;
  width: 100px;
  height: 100px;
  border: none;
}
#imgRehev{
  background-repeat: no-repeat;
 max-width: 100%;
  height: 150px;


}
#binyanIcon{
  background:url("../images/binyan2.png");
  background-size: 70px;
  width: 100px;
  height: 100px;
  border: none;
}
.logo{
    background: url("../images/atid_logo2.png")no-repeat;
    background-size:100px ;
    top: 0;

}
#img1{
    background: url("../images/medina_course_button_red.png")no-repeat;
    background-size: 70px;
    width: 100px;
    height: 100px;
    border: none;
}
#img2{
    background: url("../images/medina_course_button_orange.png")no-repeat;
    background-size: 70px;
    width: 100px;
    height: 100px;
    border: none;
}
#img3{
    background: url("../images/medina_course_button_green.png")no-repeat;
    background-size: 70px;
    width: 100px;
    height: 100px;
    border: none;
}
#img4{
    background: url("../images/medina_course_button_dark_blue.png")no-repeat;
    background-size: 70px;
    width: 100px;
    height: 100px;
    border: none;
}
#img5{
    background: url("../images/medina_course_button_blue.png")no-repeat;
    background-size: 70px;
    width: 100px;
    height: 100px;
    border: none;
}
#img6{
    background: url("../images/medina_course_button_purple.png")no-repeat;
    background-size: 70px;
    width: 100px;
    height: 100px;
    border: none;
 }


/*.imgwrapper{*/
  /*width:80% ;*/
/*}*/